In [2]:
import pandas as pd
teamNames = pd.read_excel("Team Naming Conventions.xlsx")
teamNames.to_csv("teamnames.csv",index=None,header=True)

In [7]:
teamNames_df = pd.DataFrame(teamNames)
teamNames_df.columns = ['Team','Abbr']
teamNames_df

                      Team Abbr
0            Atlanta Hawks  ATL
1           Boston Celtics  BOS
2            Brooklyn Nets  BRK
3        Charlotte Hornets  CHO
4            Chicago Bulls  CHI
5       Cleveland Cavilers  CLE
6         Dallas Mavericks  DAL
7           Denver Nuggets  DEN
8         Detroit Pistions  DET
9    Golden State Warriors  GSW
10         Houston Rockets  HOU
11          Indiana Pacers  IND
12    Los Angeles Clippers  LAC
13      Los Angeles Lakers  LAL
14        Memphis Grizzles  MEM
15              Miami Heat  MIA
16         Milwaukee Bucks  MIL
17  Minnesota Timberwolves  MIN
18    New Orleans Pelicans  NOP
19         New York Knicks  NYK
20   Oklahoma City Thunder  OKC
21           Orlando Magic  ORL
22      Philadelphia 76ers  PHI
23            Phoenix Suns  PHO
24   Portland Trailblazers  POR
25        Sacremento Kings  SAC
26       San Antonio Spurs  SAS
27         Toronto Raptors  TOR
28               Utah Jazz  UTA
29      Washington Wizards  WAS